body{							/*Impostazini relative al "contenuto della pagina"*/
    background-image: URL("../images/profilo.jpg");
    /*background-repeat: no-repeat;*/
    background-size: 100%;
    /*background-color: blue;*/
}

.divProfilo {
    background-color: salmon;
    width: 650px;
}