body{							/*Impostazini relative al "contenuto della pagina"*/
    background-image: URL("../images/login.jpg");
    /*background-repeat: no-repeat;*/
    background-size: 100%;
    /*background-color: blue;*/
}

.divSignUp {
    background-color: aliceblue;
    width: 450px;
}